/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html, 
body {
    overflow-x: hidden !important;
    height: 100%;      
}

a, ul {
    cursor: pointer !important;
}